@{
  Layout = "_Layout";
}

<!-- section -->
<section class="py-4">
  <div class="container">
    <div class="row">
      <aside class="col-lg-5">
        <div class="gallery-wrap">
          <div class="img-big-wrap img-thumbnail">
            <a href="~/img/tshirt-1.jpeg" data-type="image" data-fslightbox="mygallery">
              <img src="~/img/tshirt-1.jpeg" alt="" />
            </a>
          </div>
          <div class="thumbs-wrap">
            <a href="~/img/tshirt-1.jpeg" data-type="image" data-fslightbox="mygallery">
              <img width="60" height="60" src="~/img/tshirt-1.jpeg" alt="" />
            </a>
            <a href="~/img/tshirt-1.jpeg" data-type="image" data-fslightbox="mygallery">
              <img width="60" height="60" src="~/img/tshirt-1.jpeg" alt="" />
            </a>
            <a href="~/img/tshirt-1.jpeg" data-type="image" data-fslightbox="mygallery">
              <img width="60" height="60" src="~/img/tshirt-1.jpeg" alt="" />
            </a>
            <a href="~/img/tshirt-1.jpeg" data-type="image" data-fslightbox="mygallery">
              <img width="60" height="60" src="~/img/tshirt-1.jpeg" alt="" />
            </a>
          </div>
        </div>
      </aside>
      <main class="col-lg-7">
        <article>
          <h4 class="title text-dark">Lorem ipsum dolor sit amet.</h4>
          <div class="product-desc">
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Provident totam modi ipsa corrupti distinctio odio itaque
              harum nemo! Dolorem odit velit blanditiis vero. Facere,
              laboriosam incidunt distinctio sapiente totam illum?
              Lorem ipsum dolor sit amet consectetur.
            </p>
          </div>
          <dl class="row border-bottom">
            <dt class="col-3">Color:</dt>
            <dd class="col-9">Black</dd>
            <dt class="col-3">Category:</dt>
            <dd class="col-9">Lorem, ipsum dolor.</dd>
          </dl>
        </article>
      </main>
    </div>
  </div>
</section>

<!-- section #2 -->
<section class="py-2">
  <div class="container">
    <header class="section-heading">
      <h4 class="mb-3">Similar Products</h4>
    </header>
    <div class="row">
      <div class="col-lg-3 col-sm-6 col-12">
        <figure class="card shadow">
          <div class="img-wrap">
            <a asp-controller="Home" asp-action="ProductDetails" class="">
              <img src="~/img/tshirt-1.jpeg" alt="" /></a>
          </div>
          <figcaption class="info-wrap border-top">
            <a asp-controller="Home" asp-action="ProductDetails" class="title">Lorem ipsum dolor sit amet.
            </a>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <figure class="card shadow">
          <div class="img-wrap">
            <a asp-controller="Home" asp-action="ProductDetails" class="">
              <img src="~/img/tshirt-1.jpeg" alt="" /></a>
          </div>
          <figcaption class="info-wrap border-top">
            <a asp-controller="Home" asp-action="ProductDetails" class="title">Lorem ipsum dolor sit amet.
            </a>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <figure class="card shadow">
          <div class="img-wrap">
            <a asp-controller="Home" asp-action="ProductDetails" class="">
              <img src="~/img/tshirt-1.jpeg" alt="" /></a>
          </div>
          <figcaption class="info-wrap border-top">
            <a asp-controller="Home" asp-action="ProductDetails" class="title">Lorem ipsum dolor sit amet.
            </a>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <figure class="card shadow">
          <div class="img-wrap">
            <a asp-controller="Home" asp-action="ProductDetails" class="">
              <img src="~/img/tshirt-1.jpeg" alt="" /></a>
          </div>
          <figcaption class="info-wrap border-top">
            <a asp-controller="Home" asp-action="ProductDetails" class="title">Lorem ipsum dolor sit amet.
            </a>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>


<script src="~/js/jquery.min.js"></script>
<script src="~/node_modules/fslightbox/index.js"></script>