@{
    Layout = "_Layout";
}


<div class="container mt-4">
    <div id="section-header">
        <h1 class="title">Our Products</h1>
        <div class="border-bottom"></div>
    </div>
    <div class="row g-5">
        <div class="col-lg-3 order-lg-1 order-md-2 order-sm-2 order-2">
            <aside class="card shadow-lg" id="contact-us">
                <h2>Contact Us</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
                    aliquid quo mollitia inventore quaerat reiciendis?
                </p>
                <a href="#" class="btn c2-btn-primary btn-block">Contact Now</a>
            </aside>
            <aside id="categories" class="card shadow-lg">
                <ul>
                    <li>
                        <a href="#"><i class="fas fa-chevron-right"></i> Category#1</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-chevron-right"></i> Category#2</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-chevron-right"></i> Category#3</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-chevron-right"></i> Category#4</a>
                    </li>
                </ul>
            </aside>
        </div>
        <div class="col-lg-9 order-lg-2 order-md-1 order-sm-1 order-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-12">
                        <figure class="card shadow">
                            <div class="img-wrap">
                                <a href="#" class="">
                                    <img src="~/img/tshirt-1.jpeg" alt="" /></a>
                            </div>
                            <figcaption class="info-wrap border-top">
                                <a asp-controller="Home" asp-action="ProductDetails" class="title">Lorem ipsum dolor sit
                                    amet.
                                </a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                        <figure class="card shadow">
                            <div class="img-wrap">
                                <a href="#" class="">
                                    <img src="~/img/tshirt-1.jpeg" alt="" /></a>
                            </div>
                            <figcaption class="info-wrap border-top">
                                <a asp-controller="Home" asp-action="ProductDetails" class="title">Lorem ipsum dolor sit
                                    amet.
                                </a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                        <figure class="card shadow">
                            <div class="img-wrap">
                                <a href="#" class="">
                                    <img src="~/img/tshirt-1.jpeg" alt="" /></a>
                            </div>
                            <figcaption class="info-wrap border-top">
                                <a asp-controller="Home" asp-action="ProductDetails" class="title">Lorem ipsum dolor sit
                                    amet.
                                </a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                        <figure class="card shadow">
                            <div class="img-wrap">
                                <a href="#" class="">
                                    <img src="~/img/tshirt-1.jpeg" alt="" /></a>
                            </div>
                            <figcaption class="info-wrap border-top">
                                <a asp-controller="Home" asp-action="ProductDetails" class="title">Lorem ipsum dolor sit
                                    amet.
                                </a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                        <figure class="card shadow">
                            <div class="img-wrap">
                                <a href="#" class="">
                                    <img src="~/img/tshirt-1.jpeg" alt="" /></a>
                            </div>
                            <figcaption class="info-wrap border-top">
                                <a asp-controller="Home" asp-action="ProductDetails" class="title">Lorem ipsum dolor sit
                                    amet.
                                </a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                        <figure class="card shadow">
                            <div class="img-wrap">
                                <a href="#" class="">
                                    <img src="~/img/tshirt-1.jpeg" alt="" /></a>
                            </div>
                            <figcaption class="info-wrap border-top">
                                <a asp-controller="Home" asp-action="ProductDetails" class="title">Lorem ipsum dolor sit
                                    amet.
                                </a>
                            </figcaption>
                        </figure>
                    </div>
                    <nav id="pagination" class="col-12" aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link active" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    document.querySelector("#products").classList.add("active");
    document.querySelector("#products-a").classList.add("active");
</script>
