:root {
  --primary-color: #0abfe5;
  --secondary-color: #a6a6a6;
  --light-color: #ffff;
  --color: #f8f9fa;
}

html {
  padding: 0;
  margin: 0;
  font-size: 14px;
  scroll-behavior: smooth;
}

.navbar-brand {
  margin: 0;
}

#header {
  color: #fff;
  background: #333;
  padding: 2rem;
  position: relative;
}

.c-btn-primary {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.c-btn-primary:hover {
  color: var(--light-color);
  background-color: var(--secondary-color);
}

.all-product-btn {
  margin-top: 5px;
  display: grid;
  justify-content: center;
}

.all-product-btn a {
  font-size: 1.2rem;
}

#header .header-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 50vh;
  align-items: center;
}

#header .header-content {
  position: absolute;
  justify-self: center;
  text-align: center;
  max-height: 100%;
  z-index: 2;
}

#header:before {
  content: "";
  background: url("../img/banner.webp") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

#products .card {
  padding: 0;
  margin: 0.7rem;
}

#products .card img {
  padding: 0.6rem;
}

#section-header {
  text-align: center;
}
#section-header .border-bottom {
  height: 3px;
  width: 3rem;
  background-color: var(--primary-color);
  margin: 0 auto 1rem auto;
}

@media (min-width: 769px) {
  html {
    font-size: 16px;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
  }

  .navbar-nav .nav-item {
    margin-left: 1rem;
    padding: 0.5px;
  }

  nav .nav-link.active {
    border-bottom: 1px var(--primary-color) solid;
  }

  nav .navbar-nav .nav-item .nav-link:hover:not(.active) {
    background-color: var(--primary-color);
    color: var(--light-color);
    border-radius: 2px;
  }

  nav {
    position: sticky !important;
    top: 0;
    left: 0;
    z-index: 10;
  }
}

@media (max-width: 768px) {
  .navbar .container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .navbar-nav {
    margin-top: 10px;
    width: 100%;
  }

  nav .nav-item:not(.active):not(:last-child) {
    margin-top: 0.5px;
    border-bottom: 1px var(--primary-color) solid;
  }

  nav .navbar-nav .nav-item .nav-link.active {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 2px;
  }

  #products .card {
    padding: 0;
    height: 65vh;
  }

  #products .card img {
    padding: 0.6rem;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
  }

  #footer .container .row:first-child img {
    display: grid;
    justify-self: center;
  }

  #footer .container .row #socials .navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  #footer .container .row .col-md-3:not(:last-child) {
    margin-top: 3px;
    border-bottom: 1px var(--secondary-color) dotted;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  background-color: var(--color);
}

nav {
  background-color: #fff;
}

.form-floating > .form-control-plaintext::placeholder,
.form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder,
.form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.ref-img-container img {
  width: auto !important;
  height: 100%;
  object-fit: cover;
}

.ref-img-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#references {
  background-color: var(--light-color);
  padding: 10px;
}

#footer {
  margin-bottom: 0;
  padding: 20px;
  background-color: var(--light-color);
}

#footer img {
  height: 100px;
}

#footer .links ul {
  padding-inline: 0;
  list-style-type: none;
}

#footer .links ul li:not(:last-child) {
  border-bottom: 1px var(--primary-color) dotted;
}
